{{!-- Setup the index.handlebars template that it can render --}}
  <div class="container content text-center">

    <h1 class="text-center">Eat-Da-Burger!</h1>

    <div class="logo text-center">
      <img src="/images/logo.jpg" class="rounded-lg" height="300" width="450">
    </div>

    {{!-- UNEATEN BURGERS --}}

        <ul class="list-group nondevoured-burgers">
            {{#each burger}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
        </ul>


        {{!-- DEVOURED SECTION --}}
        <ul class="list-group devoured-burgers">
            {{#each burger}}
                {{#if devoured}} 
                    {{> burgers/burger-block devoured=false}}
                {{/if}}
            {{/each}}
        </ul>


        {{!-- MAIN FORM  --}}
        <form class="create-form">
          <div class="col-lg-3">
            <div class="form-group text-center">
              <label for="submitBtn">Add a burger</label>
              <input type="text" name="name" placeholder="Add a burger" class="burger_name" id="addburger">
              <button type="submit" class="submitBtn mt-3">Submit</button>
            </div>
          </div>
        </form>
  </div>
        



{{!-- Handlebars partials are templates that can be shared among different templates. They are written as {{> partialName}}. Before using them in the HTML, we need to register the partial using Handlebars.registerPartial method. --}}